h1 {
  color: white;
  font-size: 70px;
  font-family: 'alfa slab one';
}

h2 {
  color: white;
  font-family: 'varela round';
}

p {
  color: white;
  font-family: 'varela round';
}

.container {
  overflow: hidden;
  background-color: #333;
  font-family: 'bree serif';
  position: absolute;
  left: 0;
  width: 100vw;
  top: 0;
}

.container a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.show {
  display: block;
}

head {
  font-family:courier;
  font-size:125%
  color:#6B0504
}

body {
  font-family: 'muli';
  color:white;
  text-align: center;
  background-image: url("images/food-background1.jpg");
  background-size: cover;
}

Snack-p,
Lunch-p{
  font-size: 20px;
}

.whiteContainer {
  background-color: #F15025;
  margin: 0 auto;
  width: 700px;
  height: 100vh;
}

.longpage{
  height: 100%;
}
